body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #EAF0F6
    
}    


h2{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #191919;
}

h3{
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

p{
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #191919;
  text-align: left;
}

ul{
  list-style-type: none;
}

.link{
  text-decoration: none;
  color: #4EABFF;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}

.link:hover{

    text-decoration: underline;

}

.background{
  background-color: white;
  width: 100%;
  height: 700px;
  z-index: -1;
  position: absolute;
  margin-top: -52px;
}

.bk{
      background-color: white;

}

/*.background{
  background-image: linear-gradient(to top, #e0e5ea, #e9eff5);
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top:700px;
}*/


/*Fonts Weights

Light: 300
Medium: 500
Bold: 700
*/
/***********************************************************************
 *  Nav Bar
 **********************************************************************/

.mobile{
  margin-top: -103px;
  visibility: hidden;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 15px;
    margin:52px 24px 0px 24px;
    padding: 0px;
 }

.push {
    margin-left: auto;
    margin-right: 24px;
}

a {
    color: #191919;
    text-decoration: none;
    font-weight: 500;
}

a:hover{
    text-decoration: none;
    color: #4EABFF;
}

.logo{
    font-size: 18px;
}

.logo-section{

    margin-top: -15px;
    font-weight: bold;
}

.logo:hover{
    color:#191919;

}

.subtitle{
    font-size: 16px;
    font-weight: 300;

}
/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
  z-index: 4;
}
*/

/***********************************************************************
 *  Title
 **********************************************************************/

section{
    /*height: 70vh; */
    display: flex;
    margin-top: 90px;
    /*align-items: center;*/
    justify-content: center;
}

.title{
    font-family: roboto;
    font-size: 40px;
    font-weight: 300;
    text-align: center;

}

.marker{
    font-weight: 300;
    background-color: #E8FFE1;
}

/***********************************************************************
 *  Hero Images
 **********************************************************************/


.hero-images{
    width:908px;
    height:593px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    margin-bottom:136px;
}

/*Animations*/

.hero1.animate__animated.animate__fadeInUp {
  --animate-duration: 1.3s;
}
.hero2.animate__animated.animate__fadeInUp {
  --animate-duration: 1.2s;
}
.hero3.animate__animated.animate__fadeInUp {
  --animate-duration: 1.4s;
}


.hero1{
  width: 550px;
  box-shadow: 0 16px 74px 0 rgba(67, 67, 67, 0.28);
  border-radius: 4px;
  z-index: 2;
  position:relative;

}

.hero2{
  width: 386px;
  box-shadow: 0 16px 74px 0 rgba(67, 67, 67, 0.28);
  border-radius: 4px;
  z-index: 1;
  top:-305px;
  left:522px;
  position: relative;
}


.hero3{
  width: 386px;
  box-shadow: 0 16px 74px 0 rgba(67, 67, 67, 0.28);
  border-radius: 4px;
  z-index: 3;
  top:-108px;
  right:5px;
  position: relative;
}


/***********************************************************************
 *  Grid Panel
 **********************************************************************/

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
    grid-gap: 0px;
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 58px;
}

.box {
  margin: 12px 12px 32px 12px;
}

.box > img {
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
    border-radius: 4px;
    transition: 0.3s;
}

.box:hover>img{
    transform:scale(1.04);
    box-shadow: 0 2px 32px 0 rgba(25, 25, 25, 0.16);
}


.project-name{
  font-size: 16px;
  font-weight: 500;
  color: #191919;
  text-align: left;
  margin-top: 24px;
}

.project-type{
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  text-align: left;
  margin-top: -5px;
  
}

/*.ribbon{
  position: absolute;
  width: 49px;
  margin-left: 110px;
  z-index: 2;
}*/


/***********************************************************************
 *  Description
 **********************************************************************/

.description-box{
  width: 468px;
  margin-top: 90px;
  margin-left:24px;
}

.project-title{
  text-align: left;
}

.featured{
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: white;
  background-color: #c09f61;
  padding:2px 5px;
  display: inline;
  float: left;
  margin: 10px 0px 0px 0px;
  height:20px;
  border-radius: 2px
}


.project-description{
  margin-top: 32px;
  margin-bottom: 32px;
}

.desription-div{
  color:#efefef;
}


.description-table{
  margin: 32px 0px 64px 24px;
  width: 468;


}

th{
  font-size: 16px;
  font-weight: 500;
  width: 150px;
}


td{
  font-size: 16px;
  font-weight: 300;
  vertical-align: top;

}

.description-body-noTitle{
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left:24px;
  margin-right:24px;
}

.description-body-title{
  margin-top: 16px;
  margin-left:24px;
  margin-right:24px;

}



/*Animations*/


/***********************************************************************
 *  IMG
 **********************************************************************/

.project-ul{
  margin-right:24px;
  padding-inline-start: 24px;
}

.project-img.animate__animated.animate__fadeInUp {
  --animate-duration: 0.8s;
}

.project-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  width: 1920px;
}

.project-text {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  width: 700px;
}


/***********************************************************************
 *  Footer
 **********************************************************************/


.more-links{
  font-size: 16px;
  font-weight: 300;
  width: 276px;
  height: 67px;
  border-radius: 9px;
  background-color: #f6f9fd;
  padding: 22px 24px;
  text-align: left;
  display: inline-block;
  margin: 124px 0px 24px 0px;
  }

.linkedin{
  margin-left: 16px;
  margin-top:-3px;
  fill: #DA4567;
  transition: 0.2s;

}

.behance{
  margin-left: 9px;
  margin-top:-3px;
  transition: 0.2s;

}

.dribbble{
  margin-left: 9px;
  margin-top:-3px;
  transition: 0.2s;

}

.legal{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 124px;
}


.linkedin:hover,.behance:hover,.dribbble:hover{
  transform:scale(1.04);
  box-shadow: 0 2px 32px 0 rgba(25, 25, 25, 0.16);
}


/***********************************************************************
 *  Breakpoints
 **********************************************************************/


@media only screen and (max-width: 600px) {



.desktop{
    visibility: hidden;
}

.mobile{
    visibility: visible;

} 



.main-nav {
    display: flex;
    list-style: none;
    margin:52px 24px 0px 24px;
    padding: 0px;
 }
.push {
    margin-left: auto;
    margin-right: 18px;
}
.call{
  margin-top: -1px;
}




 .title{
    font-size: 24px;
    margin-top: -32px;
}

.selected-works{
  visibility: hidden;
}
.hero-images{
  visibility: hidden;
  margin: -280px;
}
.grid-wrapper {
    margin-top: -32px;
}

.background{
  margin-top: -252px;
}



.more-links{
  
  margin: 32px 0px 24px 0px;
  }

.legal{
  margin-bottom: 64px;
}



.description-box{
  width: 300px;
  margin-top: 90px;
  margin-left:24px;
  margin-right:24px;
}
.project-title{
  margin-top: -20px;
}

.project-description{
  margin-top: 32px;
  margin-bottom: 32px;
}



.description-table{
  margin: 32px 0px 64px 24px;
  width: 300;


}

th{
  font-size: 16px;
  font-weight: 500;
  width: 150px;
}

td{
  font-size: 16px;
  font-weight: 300;
  vertical-align: top;
}

.description-body{
  width: 300px;
  margin-left:24px;
}



}










